<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= album.date %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= album.version %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= album.price %>
  </p>

  <p>
    <strong>Shelf:</strong>
    <%= album.shelf_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= album.quantity_id %>
  </p>

</div>
