<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Album</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to albums_path, class: button_class(theme: "transparent") do %>
      All Albums
      <% end %>
      <%= link_to edit_album_path(@album), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Title:</p>
        <p><%= @album.title %></p>
      </li>
      <li>
        <p class="font-semibold">Artist:</p>
        <p><%= @album.artist %></p>
      </li>
      <li>
        <p class="font-semibold">Date:</p>
        <p><%= @album.date %></p>
      </li>
      <li>
        <p class="font-semibold">Version:</p>
        <p><%= @album.version %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @album.price %></p>
      </li>
      <li>
        <p class="font-semibold">Shelf:</p>
        <p><%= @album.shelf %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @album.quantity %></p>
      </li>
  </ul>
</div>
